@import "partials/custom";

@import "~bootstrap/scss/bootstrap";

@import "partials/base";
@import "partials/carousel";
@import "partials/accordions";
@import "partials/tabs";
@import "partials/contact";
@import "partials/cards";
