.btn-group {
  &__btn {
    color: $primary;
    background: $white;
    &--active {
      color: $white;
      background: $primary;
    }
  }
}

.card {
  &__btn {
    width: 100%;
    position: relative;
    border: none;
    color: $white;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      background: $dark;
      width: 30px;
      height: 100%;
      border: solid $dark 10px;
      border-radius: 0 3px 3px 0px;
    }
  }
  &__title {
    color: $black;
  }
}
