.nav-tabs .nav-item {
  font-size: 19px;
  .nav-link {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px 10px 0px 0px;
  }
}

.tab-content {
  .tab-info {
    position: relative;
    .social-media {
      color: black;
      position: absolute;
      bottom: 0;
      .fab {
        font-size: 25px;
      }
    }
  }
  .tab-img {
    background-size: cover;
    background-position: center center;
    min-height: 170px;
  }
  .tab-pane {
    background: $white;
    padding: 30px 30px 50px 30px;
    border-radius: 5px 5px 5px 5px;
  }
}
