.accordion {
  &-button {
    background: $white !important;
    border: none;
    font-size: 19px;
    color: $primary;
    &::before,
    &::after {
      border: none;
      content: none;
    }
  }

  &-body {
    background: radial-gradient(closest-side, #ffffff, #e5e5e5);
    .social-media div {
      margin: 15px;
      color: $black;
    }
    .social-media .fab {
      font-size: 25px;
    }
  }
}

.accordion-button:not(.collapsed) {
  border: solid 2px transparent;
  border-bottom-color: $primary;
}

.nav-tabs .nav-item {
  font-size: 19px;
  .nav-link {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px 10px 0px 0px;
  }
}

.tab-content {
  .tab-img {
    background-size: cover;
    background-position: center center;
    min-height: 170px;
  }

  .tab-pane {
    background: $white;
    padding: 30px 30px 50px 30px;
    border-radius: 5px 5px 5px 5px;
  }
  .social-media {
    color: black;
    position: absolute;
    bottom: 0;
    .fab {
      font-size: 25px;
    }
  }
}

.tab-info {
  position: relative;
}

.accordion-body {
  .tab-img {
    background-size: cover;
    background-position: center center;
    height: 180px;
  }
}
